<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311171007870-jac8jaddg4sdjipae3hf9p6aiprr2fpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311171007870-jac8jaddg4sdjipae3hf9p6aiprr2fpj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>311171007870-f0i73p52c5jbtfgi1s1mi697q7882co5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2EpiFzG3fMw_3Mux0U-aBv2ZvzF_vnOs</string>
	<key>GCM_SENDER_ID</key>
	<string>311171007870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.next.cargpstracker</string>
	<key>PROJECT_ID</key>
	<string>gpstracker-80ea1</string>
	<key>STORAGE_BUCKET</key>
	<string>gpstracker-80ea1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311171007870:ios:99ca3eaaee32732d295f2f</string>
</dict>
</plist>